.container {
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    background-color: bisque;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px teal;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }